__pycache__
.env*
.venv*
.coverage*
coverage.xml
.git
.github
.gitignore
.editorconfig
.idea
.vscode
.pre-commit-config.yaml
.mypy_cache
.pytest_cache
.ruff_cache
.python-version
docker-compose*.yml
*.md
