services:
  scrapyd:
    build:
      context: .
      dockerfile: docker/dev/Dockerfile
    env_file:
      - .env
    ports:
      - "6800:6800"
    volumes:
      - scrapyd-data:/var/lib/scrapyd
      - .:/scrapydoo
    restart: unless-stopped
    networks:
      - scrapyd-net

volumes:
  scrapyd-data:

networks:
  scrapyd-net:
