version: "3.8"

services:
  scrapyd:
    build:
      context: .
      dockerfile: docker/prod/Dockerfile
    env_file:
      - .env
    ports:
      - "6800:6800"
    volumes:
      - scrapyd-data:/var/lib/scrapyd
    labels:
      caddy: scrapydoo.zube.dev
      caddy.reverse_proxy: "{{upstreams 6800}}"
    restart: unless-stopped
    networks:
      - scrapyd-net
    deploy:
      resources:
        limits:
          cpus: "0.25"
          memory: 256M
        reservations:
          cpus: "0.25"
          memory: 256M

  caddy:
    image: lucaslorentz/caddy-docker-proxy:2.8-alpine
    ports:
      - "80:80"
      - "443:443"
    environment:
      - CADDY_INGRESS_NETWORK=scrapyd-net
    networks:
      - scrapyd-net
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - scrapyd-caddy-data:/data
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: "0.25"
          memory: 256M
        reservations:
          cpus: "0.25"
          memory: 256M

volumes:
  scrapyd-data:
  scrapyd-caddy-data: {}

networks:
  scrapyd-net:
