name: CD

on:
  push:
    branches: ["master", "main"]

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  PYTHON_VERSION: 3.11
  POETRY_VERSION: 1.5.1

jobs:
  tests:
    uses: ./.github/workflows/ci.yml
  deploy:
    name: "Scrapydoo Deploy"
    runs-on: ubuntu-latest
    needs: tests
    steps:
      - uses: actions/checkout@v3  # check out the repo
      - uses: superfly/flyctl-actions/setup-flyctl@master  # setup flyctl
      - run: flyctl deploy--remote-only
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
